/*
==============================================
#Reset (Reduce browser inconsistencies)
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
==============================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==============================================
#Clearfix (Contain floating elements)
==============================================
*/
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*
==============================================
#Icon Fonts
==============================================
*/

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-vmko0h');
  src:url('../fonts/icomoon.eot?#iefix-vmko0h') format('embedded-opentype'),
      url('../fonts/icomoon.woff?-vmko0h') format('woff'),
      url('../fonts/icomoon.ttf?-vmko0h') format('truetype'),
      url('../fonts/icomoon.svg?-vmko0h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
==============================================
#General
==============================================
*/


header.main {
  margin-top: 50px;
  margin-bottom: 35px;
}
body {
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  color: #51636D;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
em {
  font-style: italic;
  letter-spacing: -.2px;
}
img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
}


/*
==============================================
#Helper Classes
==============================================
*/

/* Positioning */
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

/* Links */
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
p .link {
  color: RGBA(38, 61, 72, 1);
}
p .link:hover {
  text-decoration: underline;
}
a {
  color: rgba(38, 61, 72, 1);
}
a {
  transition: all .2s ease; 
}
a:hover {
  transition: all .2s ease; 
}

.text-small {
  font-size: 14px;
  line-height: 1.4;
  color: #8E9AA0;
}


/*
==============================================
#Homepage
==============================================
*/

.blog-header {
  background-color: RGBA(150, 161, 167, .1);
  padding: 40px;
  margin-bottom: 50px;
  border-radius: 4px;
}

.blog-header h3 {
  margin-top: 0px;
  display: block;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}

.blog-header p {
  font-size: 14px;
  line-height: 1.5;
}

.button {
  border: 1px solid RGBA(150, 161, 167, .3);
  box-sizing:border-box;
  border-radius: 2px;
  padding: 0px 20px 0px 20px;
  height: 40px;
  text-decoration: none;
  color: RGBA(61, 81, 88, 1);
  background-color: white;
  display: inline-block;
  margin-bottom: 5px;
}

.button:hover {
  border: 1px solid RGBA(150, 161, 167, .45);
}

.button span {
  margin-top: 10px;
  display: inline-block;
  font-size: 13px;
}

.button img {
  position: relative;
  top: 1px;
  width: 60px;
  display: inline-block;
}

.tumblr {
  width: 55px !important;
}

.post-header .thumbnail-container {
  padding: 0px 0px 50px 0px;
  margin-right: 0px;
}

.blog-post-container .blog-post {
  margin-top: 37px;
  border-top: 1px solid RGBA(150, 161, 167, .2);
  padding-top: 37px;
}

.blog-post-container .blog-post:first-of-type {
  margin-top: 0px;
}

header h3 {
  margin: 0px;
  padding: 0px 0px 75px 0px;
}

.footer-h3 {
  margin-bottom: 22px;
  padding-bottom: 0px;
  padding-top: 20px;
}

.thumbnail-container {
   width: 22%;
}
.thumbnail-content {
  width: 71%;
  margin-left: 4%;
}
.blog-post .post-title {
  color: #263d49;
  font-size: 18px;
  font-weight: 400;
  margin-right: 5px;
  line-height: 1.1;
}
.blog-post .post-date {
  color: inherit;
  font-size: 12px;
  position: relative;
  top: -1px;
  opacity: .6;
}
.blog-post .excerpt {
  font-size: 14px;
  padding-bottom: 0px;
  margin-top: 5px;
  line-height: 1.5;
}

.blog-post-container .blog-post:hover .post-title {
  opacity: .5;
}
.blog-post-container .blog-post:hover .post-date {
  opacity: .4;
}

/*
==============================================
#Blog Post
==============================================
*/

.post-header figure {
  text-align: center;
  margin-bottom: 35px;
}

.post-header figure img {
  max-width: 400px;
  display: inline-block;
}

.hero-text {
  padding-bottom: 35px;
}
.cta-container {
  padding-top: 75px;
  padding-bottom: 0px;
}
.more-posts {
  display: none;
}
.post-date {
  font-weight: 400;
  opacity: .7;
  font-size: 12px;
  margin-bottom: 3px;
}
.post-header .post-title {
  font-size: 35px;
  color: rgba(50, 58, 69, 1);
  line-height: 1.1;
  font-weight: 300;
}
.sub-header {
  font-size: 19px;
  font-weight: 300;
  padding: 20px 0px 25px 0px;
  line-height: 1.6;
  color: rgba(50, 58, 69, 1);
  FONT-FAMILY: "georgia";
  text-align: center;
}
.dash {
  border: 0;
  border-bottom: 3px solid rgba(213, 222, 226, .5);
  width: 6rem;
  padding-top: 1.55556rem;
  margin-top: -2px;
  margin-right: auto;
  margin-left: auto;
}
.dash-2 {
  border: 0;
  border-bottom: 3px solid rgba(213, 222, 226, .5);
  width: 6rem;
  margin-right: auto;
  margin-bottom: 55px;
  margin-left: auto;
}


/* #Post Main Content */
.post figure {
  padding: 30px 0px 20px 0px;
}
.post figure + figure { 
  padding-top: 30px;
}
figcaption {
  margin-top: 12px;
}
p {
  color: #51636D;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.7;
}
.post figure + p { 
  padding-top: 20px;
}
p a {
  color: #263D49;
}
li a {
  text-decoration: none;
}
hr {
  padding-bottom: 28px;
  margin-top: 45px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(213, 222, 226, .5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#post-main-content p:first-of-type {
  font-size: 20px;
}
#post-main-content a {
  color: RGBA(242, 47, 93, 1);
  text-decoration: none;
}
h3 {
  color: #263d49;
  font-size: 19px;
  font-weight: 500;
  margin: 35px 0px 20px 0px;
}

/* User-Studies */
.user-studies {
  margin: 30px 0px 50px 0px;
  border: 1px solid #ececec;
  border-radius: 4px;
}
.user {
  border-bottom: 1px solid #ececec;
  padding: 25px 25px 25px 25px;
}
.user-studies .user:last-of-type {
  border-bottom: none;
}
.user-profile {
  width: 100%;
}
.box-left {
  width: 15%;
  margin-right: 5%;
  float: left;
  display: inline-block;
}
.box-right {
  width: 80%;
  float: left;
  display: inline-block;  
}
.box-right h4 {
  font-size: 17px;
  font-weight: 500;
  color: RGBA(50, 58, 69, 1);
  margin: -2px 0px 4px 0px;
}
.box-right p {
  font-size: 14px;
  padding-bottom: 12px;
  line-height: 1.4;  
}
.box-right span {
  font-weight: 500;
  color: #263D49;
  font-size: 14px;
  line-height: 1.4;  
  display: block;  
  padding-bottom: 5px;
}
.check:before {
  content: '';
  display: inline-block;
  border: 1px solid #dcdcdc;
  height: 13px;
  width: 13px;
  margin-right: 13px;
  position: relative;
  top: 3px;
}
.checkmark:before {
  color: #8dc63f;
  font-family: 'icomoon';
  display: inline-block;
  margin-right: 13px;
  content: "\ea10";
  border: 1px solid #dcdcdc;
  padding: 2px 2px 0px 3px;
  font-size: 9px;  
  position: relative;
  top: 0px;
}

.profile-pic {
  width: 80px;
}

aside.about {
  position: fixed;
  width: 410px;
  padding: 50px 55px 0px 55px;
  box-sizing:border-box;
  top: 0px;
  height: 100%;
  border-right: 1px solid #ececec;
}

main.content {
  margin-left: 410px;
}

.inner-content {
  max-width: 100%;
  margin: 0 auto;
  box-sizing:border-box;
  padding: 50px 10% 75px 10%;
}

.post-inner {
  max-width: 850px;
  margin: 0 auto;
  box-sizing:border-box;
  padding: 50px 10% 75px 10%;
}

/*
==============================================
#About
==============================================
*/
footer p {
  font-size: 13px;
  line-height: 1.5;
  padding-bottom: 15px;
}
footer h3 {
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
}
footer .about {
  padding: 20px 0px 0px 0px;
}

footer .about p:last-of-type {
  padding-bottom: 0px;
}

.copyright {
  border-top: 1px solid #ececec;
  padding: 15px 0px 0px 0px;
  margin-top: 25px;
}
.copyright p {
  opacity: .6;
  line-height: 1.4;
  font-size: 12px;
}
.footer-content {
  margin-top: 75px;
  margin-bottom: 100px;
}

.about-toggle {
  float: right;
  display: inline-block;
  display: none;
}

/*
==============================================
#Media Queries
==============================================
*/

@media screen and (max-width: 900px) {
  p {
    font-size: 15px;
    line-height: 1.55;
  }
  header.main {
  margin-top: 25px;
  margin-bottom: 25px;
}
  .post-header .thumbnail-container {
    padding: 0px 0px 35px 0px;
    margin: 0px;
  }
  .text-small {
    font-size: 12px;
  }
  .about-page {
    padding-bottom: 75px;
  }

  /* Post Header */
  .sub-header {
    font-size: 20px;
    line-height: 1.45;
  }
  .hero-text {
    bottom: 3%;
  }
  .post-title {
    font-size: 40px;
  }
  .post-date {
    font-size: 14px;
  }

  /* Post Main Content */
  hr {
    margin-top: 15px;
    padding-bottom: 10px;
  }
  h3 {
    margin: 25px 0px 15px 0px;
  }
  .post figure {
    padding: 23px 0px 23px 0px;
  }
  .post figure + figure {
    padding-top: 23px;
  }
  .post ul {
    margin: 15px 0px 30px 0px;
  }
  .post ul li p {
    padding-bottom: 0px;
    font-size: 13px;
    line-height: 1.4;  
  }
  .box-right h4 {
    font-size: 15px;
  }
  .post li em {
    max-width: 80%; 
  }
  .post li {
    padding: 15px 15px 15px 15px;
  }
  .postt li img {
    width: 15%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 900px) {
  .blog-post-container .blog-post {
    margin-top: 25px;
    padding-top: 40px;
  }
  .hero-text {
    padding-bottom: 25px;
  }

  .cta-container {
    padding-top: 50px;
    padding-bottom: 10px;
  }
  header h3 {
  margin: 0px;
  padding: 20px 0px 48px 0px;
}
  footer .about {
    padding: 25px 0px 35px 0px;
  }
  .footer-h3 {
    padding-bottom: 0px;
    padding-top: 30px;
  }
  .footer-content {
    margin-top: 50px;
    margin-bottom: 15px;
  }

  .copyright {
    margin-top: 0px;
  }

  aside.about {
    position: fixed;
    background-color: white;
    top: 0px;
    padding: 0px;
    left: 0px;
    border-right: none;
    border-bottom: 1px solid #ececec;
    height: 55px;
    width: 100%;
  }

  header.title {
    float: left;
  }

  .about-toggle {
    display: inline-block;
    position: relative;
    top: 15px;
  }

  .footer-item {
    display: none;
  }

  .footer-inner {
    width: 90%;
    margin: 0 auto;
  }

  .footer-h3 {
    padding-top: 0px;
    display: inline-block;
    margin-left: 9px;
    position: relative;
    top: -1px;
  }

  main.content {
    margin-left: 0px;
  }

  .wrapper-3 {
    width: 85%;
    margin: 0 auto;
    margin-top: 85px;
  }

  .blog-header {
    padding: 30px;
    margin-bottom: 35px;
  }

  .button {
    text-align: center;
    padding: 0px;
    width: 100%;
  }

  .inner-content {
    padding: 0px;
    padding-bottom: 75px;
  }

  .profile-pic {
    width: 35px;
    position: relative;
    top: 9px;
  }

  .copyright {
    position: absolute;
    bottom: 0px;
  }

}

@media screen and (max-width: 500px) {
  .thumbnail-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .thumbnail-container img {
    width: 150px;
  }
  .thumbnail-content {
    width: 100%;
    margin-left: 0px;
  }

  .blog-post .post-title {
    display: block;
  }



  }