/*
==============================================
#Reset (Reduce browser inconsistencies)
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
==============================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
==============================================
#Clearfix (Contain floating elements)
==============================================
*/
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*
==============================================
#Icon Fonts
==============================================
*/

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-vmko0h');
  src:url('../fonts/icomoon.eot?#iefix-vmko0h') format('embedded-opentype'),
      url('../fonts/icomoon.woff?-vmko0h') format('woff'),
      url('../fonts/icomoon.ttf?-vmko0h') format('truetype'),
      url('../fonts/icomoon.svg?-vmko0h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
==============================================
#General
==============================================
*/


header.main {
  margin-top: 50px;
  margin-bottom: 35px;
}
html {
  background-color: RGBA(244, 247, 249, 1);
}

body {
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  color: #51636D;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 750px;
}

.wrapper img {
  max-width: 425px;
  width: 100%;
}
.pencil {
  display: none;
}
.page {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 75px;
  max-width: 750px;
  box-sizing:border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.blog-page {
  padding-bottom: 79px;
}
.about-page {
  margin-top: 25px;
  padding-bottom: 150px;
}
em {
  font-style: italic;
  letter-spacing: -.2px;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}


/*
==============================================
#Helper Classes
==============================================
*/

/* Positioning */
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

/* Links */
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
p .link {
  color: RGBA(38, 61, 72, 1);
}
p .link:hover {
  text-decoration: underline;
}
a {
  color: rgba(38, 61, 72, 1);
}
a {
  transition: all .2s ease; 
}
a:hover {
  transition: all .2s ease; 
}

.text-small {
  font-size: 14px;
  line-height: 1.4;
  color: #8E9AA0;
}

.pencil:hover {
  top: 5%;
  transition: all .3s ease; 
}

.pencil {
  transition: all .3s ease; 
}

/*
==============================================
#Header
==============================================
*/

.profile-container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  opacity: .7;
  position: fixed;
  background-color: white;
  display: inline-block;
  bottom: 15px;
  left: 15px;
  BORDER: 1PX SOLID #ECECEC;
  border-radius: 60px;
  padding: 15px 7px 15px 7px;
  font-size: 13px;
  z-index: 9999;
}
.logo {
  width: 60px;
  margin-bottom: 5px;
  background-color: white;
  position: relative;
  border-radius: 60px;
}

/*
==============================================
#Homepage
==============================================
*/

.blog-header {
  padding-top: 75px;
  padding-bottom: 50px;
}

.pencil {
  position: fixed;
  left: 10%;
  top: 6%;
}

.post-header .thumbnail-container {
  padding: 50px 0px;
}

.blog-post-container .blog-post {
  margin-top: 22px;
  border-top: 1px solid RGBA(150, 161, 167, .2);
  padding-top: 22px;
}

.blog-post-container .blog-post:first-of-type {
  border-top: none;
  padding-top: 40px;
}

.thumbnail-container {
  margin-right: 20px;
  position: relative;
}

.thumbnail {
  width: 60px;
}

.blog-post .post-title {
  display: inline-block;
  font-size: 19px;
  float: left;
  position: relative;
  top: 5px;
  font-weight: 400;
  line-height: 1.1;
}
.blog-post .post-date {
  color: inherit;
  display: inline-block;
  font-size: 12px;
  float: right;
  position: relative;
  top: 8px;
  opacity: .6;
}

.blog-post-container .blog-post:hover .post-title {
  opacity: .5;
}

.blog-post-container .blog-post:hover .post-date {
  opacity: .4;
}

/*
==============================================
#Blog Post
==============================================
*/

.hero-text {
  padding-bottom: 50px;
}
.cta-container {
  padding-top: 75px;
  padding-bottom: 25px;
}
.more-posts {
  display: none;
}
.post-date {
  font-weight: 400;
  opacity: .7;
  font-size: 12px;
  margin-bottom: 3px;
}
.post-header .post-title {
  font-size: 35px;
  color: rgba(50, 58, 69, 1);
  line-height: 1.1;
  font-weight: 300;
}
.sub-header {
  font-size: 23px;
  font-weight: 300;
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 3px 0px;
  line-height: 1.6;
  color: #111;
  color: rgba(50, 58, 69, 1);
}
.dash {
  border: 0;
  border-bottom: 3px solid rgba(213, 222, 226, .5);
  width: 6rem;
  padding-top: 1.55556rem;
  margin-top: -2px;
  margin-right: auto;
  margin-bottom: 3.11111rem;
  margin-left: auto;
}

/* #Post Main Content */
.post figure {
  padding: 30px 0px 20px 0px;
}
.post figure + figure { 
  padding-top: 30px;
}
figcaption {
  margin-top: 12px;
}
p {
  color: #51636D;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.7;
}
.post figure + p { 
  padding-top: 20px;
}
p a {
  color: #263D49;
}
li a {
  text-decoration: none;
}
hr {
  padding-bottom: 28px;
  margin-top: 45px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(213, 222, 226, .5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#post-main-content p:first-of-type {
  font-size: 20px;
}
#post-main-content a {
  color: RGBA(242, 47, 93, 1);
  text-decoration: none;
}
h3 {
  color: #263d49;
  font-size: 19px;
  font-weight: 500;
  margin: 35px 0px 20px 0px;
}

/* User-Studies */
.user-studies {
  margin: 30px 0px 50px 0px;
  border: 1px solid #ececec;
  border-radius: 4px;
}
.user {
  border-bottom: 1px solid #ececec;
  padding: 25px 25px 25px 25px;
}
.user-studies .user:last-of-type {
  border-bottom: none;
}
.user-profile {
  width: 100%;
}
.box-left {
  width: 15%;
  margin-right: 5%;
  float: left;
  display: inline-block;
}
.box-right {
  width: 80%;
  float: left;
  display: inline-block;  
}
.box-right h4 {
  font-size: 17px;
  font-weight: 500;
  color: RGBA(50, 58, 69, 1);
  margin: -2px 0px 4px 0px;
}
.box-right p {
  font-size: 14px;
  padding-bottom: 12px;
  line-height: 1.4;  
}
.box-right span {
  font-weight: 500;
  color: #263D49;
  font-size: 14px;
  line-height: 1.4;  
  display: block;  
  padding-bottom: 5px;
}
.check:before {
  content: '';
  display: inline-block;
  border: 1px solid #dcdcdc;
  height: 13px;
  width: 13px;
  margin-right: 13px;
  position: relative;
  top: 3px;
}
.checkmark:before {
  color: #8dc63f;
  font-family: 'icomoon';
  display: inline-block;
  margin-right: 13px;
  content: "\ea10";
  border: 1px solid #dcdcdc;
  padding: 2px 2px 0px 3px;
  font-size: 9px;  
  position: relative;
  top: 0px;
}

.post p:last-of-type {
  padding-bottom: 0px;
}

/*
==============================================
#Footer
==============================================
*/
footer p {
  font-size: 13px;
  line-height: 1.5;
  opacity: .9;
  padding-bottom: 15px;
}
footer h3 {
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
}
footer .about {
  padding: 45px 0px 75px 0px;
}

footer .about p:last-of-type {
  padding-bottom: 0px;
}

.copyright {
  padding: 15px 0px 100px 0px;
  margin-top: 0px;
}
.copyright p {
  opacity: .5;
  line-height: 1.5;
  font-size: 12px;
  max-width: 600px;
}
.footer-content {
  border-top: 3px solid rgba(213, 222, 226, .5);
  margin-top: 75px;
}

/*
==============================================
#Media Queries
==============================================
*/

@media screen and (max-width: 900px) {
  p {
    font-size: 15px;
    line-height: 1.55;
  }
  header.main {
  margin-top: 25px;
  margin-bottom: 25px;
}

  .page {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pencil {
    display: none;
  }
  .text-small {
    font-size: 12px;
  }
  .about-page {
    padding-bottom: 75px;
  }

  /* Post Header */
  .sub-header {
    font-size: 20px;
    line-height: 1.45;   
    margin: 50px 0px 0px 0px;
  }
  .hero-text {
    bottom: 3%;
  }
  .post-title {
    font-size: 40px;
  }
  .post-date {
    font-size: 14px;
  }

  /* Post Main Content */
  hr {
    margin-top: 15px;
    padding-bottom: 10px;
  }
  h3 {
    margin: 25px 0px 15px 0px;
  }
  .post figure {
    padding: 23px 0px 23px 0px;
  }
  .post figure + figure {
    padding-top: 23px;
  }
  .post ul {
    margin: 15px 0px 30px 0px;
  }
  .post ul li p {
    padding-bottom: 0px;
    font-size: 13px;
    line-height: 1.4;  
  }
  .box-right h4 {
    font-size: 15px;
  }
  .post li em {
    max-width: 80%; 
  }
  .post li {
    padding: 15px 15px 15px 15px;
  }
  .postt li img {
    width: 15%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 900px) {
  .blog-post-container .blog-post {
    margin-top: 14px;
    padding-top: 11px;
  }
  .hero-text {
    padding-bottom: 25px;
  }

  .cta-container {
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .blog-post .post-title {
    display: block;
    font-size: 17px;
    float: none;
  }
  .blog-post .post-date {
    display: block;
    font-size: 11px;
    float: none;
    top: 0px;
    margin-top: 4px;
    opacity: .6;
  }
  footer .about {
    padding: 25px 0px 35px 0px;
  }
  .footer-content {
    margin-top: 50px;
  }
  .blog-post .post-title {
    top: -1px;
  }
  .thumbnail-container {
    margin-bottom: 12px;
  }
  .blog-post-container .blog-post:first-of-type {
    padding-top: 10px;
  }
}