/*
#Reset (Reduce browser inconsistencies)
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
============================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Clearfix (Contain floating elements)
============================================== */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/* #Helper Classes
============================================== */
/* Positioning */
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.text-center {
  text-align: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.float-left {
  float: left;
}

/* #General
==============================================*/
body {
font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #606c78;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.wrapper {
  margin: 50px auto 8px auto;
  max-width: 335px;
}

/* #Hero
============================================== */
.me {
  background-color: white;
  width: 55px;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
}
.profile-container {
  position: absolute;
  z-index: 2;
  bottom: -17px;
  left: 41%;
}

/* #Copy
============================================== */
h1 {
  font-size: 21px;
  font-weight: 500;
  color: #263d49;
  padding-bottom: 15px;
}
p {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin-top: 12px;
}

 p {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 15px;
  color: RGBA(112, 123, 132, 1);
  line-height: 29px;
  margin-top: 20px;
}

.card p:first-of-type {
  margin-top: 13px;
}
.card  {
  padding-bottom: 25px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
}
em {
  font-weight: 500;
}
a {
  color: RGBA(37, 147, 232, 1);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* #Social Nav
============================================== */
/* #Icon Fonts (for Social Media Logos)*/
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-vmko0h');
  src:url('../fonts/icomoon.eot?#iefix-vmko0h') format('embedded-opentype'),
      url('../fonts/icomoon.woff?-vmko0h') format('woff'),
      url('../fonts/icomoon.ttf?-vmko0h') format('truetype'),
      url('../fonts/icomoon.svg?-vmko0h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {

}
.social-link {
  height: 50px;
  width: 25px;
  margin: 0px 15px 0px 0px;
  box-sizing: border-box;
}

.social-link:hover {
  opacity: .7;
}

nav .social-link:last-of-type {
  margin-right: 0px;
}
.social-link:before {
  font-family: 'icomoon';
  display: inline-block;
  position: absolute;
}
.instagram:before {
  content: "\e601";
  left: 38%;
  top: 28%;
  font-size: 19px;  
}
.behance:before {
  content: "\e602";
  left: 18%;
  top: 19%;
  font-size: 26px;   
}
.twitter:before {
  content: "\ea91";
  left: 30%;
  top: 23%;
  font-size: 21px;  
  border-bottom-left-radius: 5px; 
}
.dribbble:before {
  content: "\eaa6";
  left: 31%;
  top: 23%;
  font-size: 20px;  
}
.linkedin:before {
  content: "\eac9";
  left: 40%;
  top: 17%;
  font-size: 22px;   
}
.facebook:before {
  content: "\e600";
  left: 17%;
  top: 25%;
  font-size: 19px;   
}

.tumblr:before {
  content: "\eabb";
  left: 26%;
  top: 27%;
  font-size: 18px;   
}

.lastfm:before {
  content: "\eaca";
  left: 36%;
  top: 20%;
  font-size: 25px;   
}

.deck {
  color: #263d49;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 23px;
}

.hero-text {
  width: 100%;
  position: absolute;
  z-index: 9;
  left: 0px;
  bottom: 0px;
}

nav {
  padding-bottom: 8px;
  position: relative;
  left: -3px;
}

.go {
  color: white;
  bottom: 25px;
  z-index: 99999999;
  position: absolute;
  left: 20px;
  bottom: 15px;
  font-size: 11px;
  opacity: .75;
}

.gradient {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
width: 100%;
height: 100px;
}

.left {
  width: 70%;
  top: 0px;
  left: 0px;
  position: fixed;
}

.right {
  background-color: white;
  z-index: 999999;
  position: absolute;
  right: 0px;
  width: 475px;
  padding: 75px 55px 0px 55px;
  box-sizing: border-box;
}

.hero {
  background-image: url("../images/profile.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  padding: 0 20px 30px 20px;
  box-sizing: border-box;
  position: fixed;
  text-align: center;
}

.hero {
  background-position: center;
  padding: 0 50px 30px 50px;
}

.hero {
  height: 100vh;
  position: relative;
  width: 100%;
}

.hero-text {
}

.hero-title {
  font-size: 31px;
  color: #263d49;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 25px;
}

.hero-copy{
  font-size: 15px;
  margin-bottom: 15px;
}

.thumbnail {
  padding-top: 30px;
  padding-bottom: 19px;
}

hr {
  border: 0;
  border-bottom: 3px solid rgba(61,70,77,0.1);
  width: 4rem;
  padding-top: 2.8em;
  margin-top: -2px;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
}

figcaption {
  padding-top: 10px;
  font-size: 12px;
  color: RGBA(96, 108, 119, 1);
  opacity: .7;
  font-style: italic;
}

a:hover {
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.button {
  color: RGBA(37, 147, 232, 1);
  margin-top: 50px;
  font-size: 15px;
  display: inline-block;
  border-radius: 60px;
  padding: 15px 45px 15px 45px;
  border: 1px solid RGBA(37, 147, 232, 1);
}

.button:hover {
  text-decoration: none;
  color: white;
  background-color: RGBA(37, 147, 232, 1);;
}



/* #Footer
============================================== */
footer {
  margin: 70px 0px 25px 0px;
}
footer a {
  color: inherit;
  text-decoration: underline;
}
.copyright {
  font-size: 11px;
  opacity: .7;
}

/* #Media Queries
============================================== */
@media screen and (max-width: 1100px) {
.hero {
  background-position: 100% center;
}

/* #Media Queries
============================================== */
@media screen and (max-width: 768px) {
  .right {
    width: 50%;
    padding: 60px 40px 0px 40px;
    min-width: inherit;
  }
  .hero {
    background-position: 71% center;
  }
  .left {
    width: 50%;
  }

}

/* #Media Queries
============================================== */
@media screen and (max-width: 668px) {
  .right {
    width: 100%;
    padding: 25px 25px 0px 25px;
    margin-left: 0px;
  }
  .hero-title {
    font-size: 40px;
    padding-top: 15px;
  }
  .hero {
    background-position: 71% center;
    height: 325px;
  }
  .go {
    bottom: 11px;
  }
  .left {
    width: 100%;
    position: inherit;
  }

}

@media screen and (max-width: 450px) {
  .hero-title {
    font-size: 27px;
    padding-top: 15px;
    margin-bottom: 19px;
    line-height: 1.4;
  }

  .deck {
    font-size: 16px;
    line-height: 1.6;
  }

  hr {
    padding-top: 2em;
    margin-bottom: 2.1em;
  }

}


