
<div class="page-header page-header-content">
  <figure>
   <img class="rail-pic" src="/images/me.jpg">
  </figure>

  <p class="profile-copy inline-block">I currently work as Creative Director at <a href="http://www.threadmeup.com" class="link pink">Threadmeup</a>. I also manage a variety of <a href="tags/project" class="link pink">side-projects</a>, watch <a href="https://www.youtube.com/watch?v=KjL5u_8BlgY" class="link pink">cheesy, horror movies</a>, and listen to <a href="https://www.youtube.com/watch?v=iEaml0KMkVQ" class="link pink">loud music</a>.</p> 
  <p class="location inline-block">Chicago, Illinois</p>         
  <p class="mail profile-copy inline-block"><a href="mailto:hellojoshmartin@gmail.com" class="link pink text-small">hellojoshmartin@gmail.com</a></p> 
  <p class="cf">
    <!-- Social Links --> 
    <div class="inline-block about-social cf">
      <a aria-hidden="true" data-icon="&#xe001;" href="http://www.behance.net/jawsmartin" class="icon-behance link header-icon"></a>
      <a aria-hidden="true" data-icon="&#xe001;" href="http://www.dribbble.com/jawsmartin" class="icon-dribbble link header-icon"></a>
      <a aria-hidden="true" data-icon="&#xe001;" href="http://www.twitter.com/jawsmartin" class="icon-twitter link header-icon"></a>
      <a aria-hidden="true" data-icon="&#xe001;" href="http://www.instagram.com/jawsmartin" class="icon-instagram link header-icon"></a>
      <a aria-hidden="true" data-icon="&#xe001;" href="http://www.github.com/jawsmartin" class="icon-github link header-icon"></a>  
      <a aria-hidden="true" data-icon="&#xe001;" href="http://www.tumblr.com/jawsmartin" class="icon-tumblr link header-icon"></a>          
    </div>       
  </p>            
</div>
