
<div class="page-header page-header-content">
  <figure>
   <img class="rail-pic" src="/images/profile.jpg">
  </figure>  
    <div class="cf">
      <h3 class="about-title inline-block float-left">About</h3>
    </div>


  <p class="profile-copy inline-block">I currently live in downtown Chicago, Illinois and work as the Creative Director for <a href="http://www.threadmeup.com" class="link pink">Threadmeup</a>.</p>

  <p class="profile-copy inline-block">I also manage a variety of <a href="tags/project" class="link pink">projects</a>, watch <a href="https://www.youtube.com/watch?v=KjL5u_8BlgY" class="link pink">cheesy horror movies</a>, hang out at <a href="https://www.youtube.com/watch?v=LHDOpKYqCGo" class="link pink">arcades</a>, and listen to <a href="https://www.youtube.com/watch?v=iEaml0KMkVQ" class="link pink">loud music</a>.</p>

  <p><a href="mailto:hellojoshmartin@gmail.com" class="link pink text-small">Learn More</a></p>   

</div>
