<div class="page-header page-header-content">

  <div class="r-header cf">
    <div class="cf">
      <h3 class="about-title inline-block float-left">Blog</h3>
    </div>
    <p class="profile-copy inline-block">You can find my chronological, unabridged portfolio on <a href="http://www.behance.net/jawsmartin" class="link pink">Behance</a> and my latest WIP's on <a href="http://www.dribbble.com/jawsmartin" class="link pink">Dribbble</a>.</p> 
  </div>

  <ul class="rail-blog homepage posts">
    {% for post in site.posts %}

      <li class="homepage-hero cf">
        <figure class="thumbnail-container">
          <img class="thumbnail" src="{{ post.thumbnail }}"/>
        </figure>          
        <a class="cs-lead" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        <span class="cs-sub inline-block float-left">{{ post.date | date: '%B %d, %Y' }}</span>
      </li>

    {% endfor %}
  </ul>

</div>
