<div class="page-header page-header-content">

  <div class="blog-filter">
    <span class="blog-filter-title">Blog</span>
    <a class="filter-item inline-block" href="/">Everything</a>
    <a class="filter-item inline-block {% if page.tag == 'Personal' %} filter-item-active {% endif %}" href="/tags/personal">Personal</a>   
    <a class="filter-item inline-block {% if page.tag == 'Case-Study' %} filter-item-active {% endif %}" href="/tags/case-study">Case-Study</a>      
    <a class="filter-item inline-block {% if page.tag == 'Project' %} filter-item-active {% endif %}" href="/tags/project">Project</a>
    <a aria-hidden="true" data-icon="&#xe001;" href="http://www.tumblr.com/jawsmartin" class="icon-rss float-right link"></a>              
  </div>

</div>
