<div class="page-header page-header-content">

  <div class="r-header cf">
    <div class="cf">
      <h3 class="about-title inline-block float-left">Portfolio</h3>
    </div>
    <p class="profile-copy inline-block">Final snapshots of completed work via <a href="http://www.behance.net/jawsmartin" class="link pink">Behance</a>. If you are interested in lengthy write-ups that allow for more context, check out some of my <a href="/tags/case-study" class="link pink">case-studies</a>. I also occasionally post show-offy stuff on <a href="http://www.dribbble.com/jawsmartin" class="link pink">Dribbble</a>.</p> 
  </div>

  <div class="latest-work first">
    <img class="" src="/images/portfolio.png"/> 
  </div>

  <div class="latest-work">
    <img class="" src="/images/portfolio-2.png"/> 
  </div>

  <div class="latest-work">
    <img class="" src="/images/portfolio-3.png"/> 
  </div>

  <div class="latest-work">
    <img class="" src="/images/portfolio-4.png"/> 
  </div>

</div>