  <div class="page-header page-header-content">

    <div class="cf">
      <h3 class="about-title inline-block float-left">Experience</h3>
    </div> 
    <p class="profile-copy inline-block">My experience, thus far, has been in working with large-scale news media and e-commerce platforms.</p>

    <div class="exp-item">
      <div class="job-block">
        <h4 class="job">• Independent Product Designer</h4>
        <p class="job-title">Freelance - Chicago, IL<br>(Jul 2014 - Mar 2015)</p>
      </div>
    </div>

    <div class="exp-item">
      <div class="job-block">
        <h4 class="job">• Lead Designer</h4>
        <p class="job-title">Wrapports Media, Aggrego — Chicago<br>(Sep 2013 - Dec 2014)</p>
      </div>
    </div>

    <div class="exp-item">
      <div class="job-block">
        <h4 class="job">• Web/Grapic Designer, Illustrator</h4>
        <p class="job-title">Freelance - Chicago, IL<br>(Jun 2013 - Nov 2013)</p>
      </div>
    </div> 


    <div class="exp-item">
      <div class="job-block">
        <h4 class="job">• Front-End Developer, Intern</h4>
        <p class="job-title">Power2Switch - Chicago, IL<br>(Apr 2013 - Jun 2013)</p>
      </div>
    </div> 

    <div class="exp-item">
      <div class="job-block">
        <h4 class="job">• Resident Advisor</h4>
        <p class="job-title">Edinboro University - Edinboro, PA<br>(Dec 2009 - Dec 2012)</p>
      </div>
    </div> 

    <p>
      <a href="/about" class="link pink cv">View CV</a>
    </p>

  </div>
