<div class="page-header page-header-content">

  <div class="sidebar">
    <div class="sidebar-item">
      <h3>Client: </h3>
      <p>Afterskoolz</p>
    </div> 
    <div class="sidebar-item">
      <h3>When: </h3>
      <p>Fall 2014</p>
    </div> 
    <div class="sidebar-item">
      <h3>Role: </h3>
      <p>Fall 2014</p>
    </div>
    <div class="sidebar-item">
      <h3>Objectives: </h3>
      <div class="objective-item">
        <h4>Branding/Identity</h4>
        <p>Sal, alongside fellow parent and Afterskoolz co-founder, Mustafa Patni, laid out a rough draft their vision of an ideal product and it was my job to bring it to life.</p>
      </div>
      <div class="objective-item">
        <h4>Branding/Identity</h4>
        <p>Sal, alongside fellow parent and Afterskoolz co-founder, Mustafa Patni, laid out a rough draft their vision of an ideal product and it was my job to bring it to life.</p>
      </div>
      <div class="objective-item">
        <h4>Branding/Identity</h4>
        <p>Sal, alongside fellow parent and Afterskoolz co-founder, Mustafa Patni, laid out a rough draft their vision of an ideal product and it was my job to bring it to life.</p>
      </div>
      <div class="objective-item">
        <h4>Branding/Identity</h4>
        <p>Sal, alongside fellow parent and Afterskoolz co-founder, Mustafa Patni, laid out a rough draft their vision of an ideal product and it was my job to bring it to life.</p>
      </div>
      <div class="objective-item">
        <h4>Branding/Identity</h4>
        <p>Sal, alongside fellow parent and Afterskoolz co-founder, Mustafa Patni, laid out a rough draft their vision of an ideal product and it was my job to bring it to life.</p>
      </div>                        
    </div>         
  </div>

</div>
