    <div class="page-header page-header-content">
    <div class="cf">
      <h3 class="about-title inline-block float-left">Contact</h3>
      <a href="/about">
      </a>
    </div>
      <p class="profile-copy inline-block">Always open to opportunities to work with good people on interesting projects. Feel free to reach out.</p>
      <p class="profile-copy inline-block">Email: <a href="mailto:hellojoshmartin@gmail.com" class="link pink text-small">hellojoshmartin@gmail.com</a></p> 
      <p class="cf">
        <!-- Social Links --> 
        <div class="inline-block about-social cf">
          <a aria-hidden="true" data-icon="&#xe001;" href="http://www.behance.net/jawsmartin" class="icon-behance link header-icon"></a>
          <a aria-hidden="true" data-icon="&#xe001;" href="http://www.dribbble.com/jawsmartin" class="icon-dribbble link header-icon"></a>
          <a aria-hidden="true" data-icon="&#xe001;" href="http://www.twitter.com/jawsmartin" class="icon-twitter link header-icon"></a>
          <a aria-hidden="true" data-icon="&#xe001;" href="http://www.instagram.com/jawsmartin" class="icon-instagram link header-icon"></a>
          <a aria-hidden="true" data-icon="&#xe001;" href="http://www.github.com/jawsmartin" class="icon-github link header-icon"></a>  
          <a aria-hidden="true" data-icon="&#xe001;" href="http://www.tumblr.com/jawsmartin" class="icon-tumblr link header-icon"></a>          
        </div>        
    </div>
