  <div class="page-header page-header-content">

    <div class="cf">
      <h3 class="about-title inline-block float-left">Experience</h3>
      <img src="/images/arrow.png" class="inline-block arroww float-right"/>
    </div> 
    <p class="profile-copy inline-block">My experience, thus far, has been in working with large-scale news media and e-commerce platforms.</p>

    <div class="exp-item">
      <div class="job-block">
        <h4 class="job">• Independent Product Designer</h4>
        <p class="job-title">Freelance - Chicago, IL</p>
      </div>
    </div>

    <div class="exp-item">
      <div class="job-block">
        <h4 class="job">• Lead Designer</h4>
        <p class="job-title">Wrapports Media, Aggrego — Chicago</p>
      </div>
    </div>

    <div class="exp-item">
      <div class="job-block">
        <h4 class="job">• Front-End Developer, Intern</h4>
        <p class="job-title">Power2Switch - Chicago, IL</p>
      </div>
    </div> 

    <div class="exp-item">
      <div class="job-block">
        <h4 class="job">• Resident Advisor</h4>
        <p class="job-title">Edinboro University - Edinboro, PA</p>
      </div>
    </div> 

    <p>
      <a href="/about" class="link pink cv">View CV</a>
    </p>

  </div>
