    <!-- Footer
    =============================================
    ============================================= -->
    <footer class="footer-main fade-up">
      <div class="container-fluid clearfix">

        <div class="links">
          <a href=""><img src="/imgs/icon_linkedin.png" alt="Linkedin Icon"/></a>
          <a href=""><img src="/imgs/icon_medium.png" alt="Medium Icon"/></a>
          <a href=""><img src="/imgs/icon_dribbble.png" alt="Dribbble Icon"/></a>
          <a href=""><img src="/imgs/icon_twitter.png" alt="TwitterIcon"/></a>  
        </div>

      </div>
    </footer>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>