      <!-- Footer
      ================================================== -->  
      <footer class="main">
        <div class="footer-content grid-container cf">

          <!-- Author -->  
          <div class="author inline-block float-right cf">
            <figure class="author-pic absolute inline-block float-left">
              <img src="/images/profile.png" width="50px" height="50px"/>
            </figure>
            <div class="author-details inline-block float-right">
              <p class="text-small">I'm a designer, illustrator, and front-end developer. I currently live in downtown Chicago and build web/app products for local startups. Contact me at <a href="mailto:hellojoshmartin@gmail.com" class="link pink">hellojoshmartin@gmail.com</a>.</p>
            </div>
          </div>

          <!-- Colophon -->    
          <span class="float-left copyright inline-block text-small">&copy; 2015. Designed and developed by Josh Martin. Hosted by <a href="http://www.dribbble.com/jawsmartin" class="link footer-link">Github Pages</a>, Built from scratch, and powered by <a href="http://www.dribbble.com/jawsmartin" class="link footer-link">Jeykll</a>. Set in Helvetica Neue/Georgia. View source on <a href="http://www.dribbble.com/jawsmartin" class="link footer-link">Github</a>.</span>

          <!-- Social Links (hidden on desktop) --> 
          <div class="social inline-block cf">
            <a aria-hidden="true" data-icon="&#xe001;" href="http://www.dribbble.com/jawsmartin" class="icon-dribbble link social-icon"></a>
            <a aria-hidden="true" data-icon="&#xe001;" href="http://www.twitter.com/jawsmartin" class="icon-twitter link social-icon"></a>
            <a aria-hidden="true" data-icon="&#xe001;" href="http://www.instagram.com/jawsmartin" class="icon-instagram link social-icon"></a>       
          </div>  

        </div>
      </footer>
         
    </div> <!-- Closes Page --> 
 
  </body>
</html>