<header class="main">
  <div class="header-content grid-container relative cf">

    <!-- Logo -->  
    <div class="inline-block site-container relative cf">
      <a href="/" class="link">
        <img class="site-logo relative" src="/images/logo-2.png"/>
      </a>
    </div> 

    <!-- Navigation -->  
    <nav class="nav-container absolute inline-block float-right cf">

      <!-- Site Navigation -->  
      <div class="inline-block cf">
        <a class="link header-link float-left inline-block {% if page.title == 'Josh Martin | Blog' %} header-link-active {% endif %}" href="/">
          <span class="nav-icon blog"></span>
          <span class="nav-label">Blog</span>
        </a>        
        <a class="link portfolio-link relative header-link float-left inline-block {% if page.title == 'Josh Martin | Portfolio' %} header-link-active {% endif %}" href="http://www.behance.net/jawsmartin">
          <span class="nav-icon portfolio"></span>
          <span class="nav-label">Portfolio</span>        
        </a>
        <a class="link header-link float-left inline-block {% if page.title == 'Josh Martin | About' %} header-link-active {% endif %}" href="/about">
          <span class="nav-icon about"></span>
          <span class="nav-label">About</span>
        </a>
        <a class="link contact-link header-link float-left inline-block {% if page.title == 'Josh Martin | Contact' %} header-link-active {% endif %}" href="/contact">
          <span class="nav-icon contact"></span>
          <span class="nav-label">Contact</span>
        </a>        
      </div>

      <!-- Social Links --> 
      <div class="social relative inline-block cf">
        <a aria-hidden="true" data-icon="&#xe001;" href="http://www.dribbble.com/jawsmartin" class="icon-dribbble link social-icon"></a>
        <a aria-hidden="true" data-icon="&#xe001;" href="http://www.twitter.com/jawsmartin" class="icon-twitter link social-icon"></a>
        <a aria-hidden="true" data-icon="&#xe001;" href="http://www.instagram.com/jawsmartin" class="icon-instagram link social-icon"></a>       
      </div>  

    </nav>

  </div>
</header>
