<!-- Header
=============================================
============================================= -->
<header class="header-main fade-down">
  <div class="container-fluid clearfix">

    <figure class="logo">
      <a href="/">
        <img src="https://pbs.twimg.com/profile_images/698166890066096129/b8TJGmKO.jpg"/>
      </a>
    </figure>

    <div class="social-icons">
      <a href="https://www.snapchat.com/add/jawsmartin" class="social-icon snapchat-icon"></a>
      <a href="http://www.instagram.com/jawsmartin" class="social-icon instagram-icon"></a>
      <a href="http://www.dribbble.com/jawsmartin" class="social-icon dribbble-icon"></a>
      <a href="http://www.twitter.com/jawsmartin" class="social-icon twitter-icon"></a>
      <a href="http://www.linkedin.com/in/jawsmartin" class="social-icon linkedin-icon"></a>          
    </div>
    <span></span>

  </div>
</header>