<header class="yo main-2">
  <div class="header-content grid-container cf">
    <div class="inline-block site-container cf">
      <a href="/" class="link">
        <img class="site-pic inline-block float-left" src="/images/logo-6.png"/>
        <span class="site-name inline-block float-left">Josh Martin</span>
      </a>
    </div> 

    <!-- Site Navigation -->  
    <nav class="nav-container relative inline-block float-right cf">
      <a class="link header-link {% if page.title == 'Josh Martin | Home' %} header-link-active {% endif %}" href="/">
        <span class="home"></span>
        <span class="nav-label">Home</span>
      </a>        
      <a class="link header-link {% if page.title == 'Josh Martin | Portfolio' %} header-link-active {% endif %}" href="/portfolio">
        <span class="portfolio"></span>
        <span class="nav-label">Portfolio</span>        
      </a>
      <a class="link header-link {% if page.title == 'Josh Martin | About' %} header-link-active {% endif %}" href="/about">
        <span class="about"></span>
        <span class="nav-label">About/CV</span>
      </a>
      <a class="link header-link{% if page.title == 'Josh Martin | Blog' %} header-link-active {% endif %}" href="/blog">
        <span class="blog"></span>
        <span class="nav-label">Blog</span>
      </a>       
    </nav>

  </div>
</header>
