  <header class="main">
    <div class="cf header-wrapper">

        <div class="float-left site">
          <a class="name" href="/">Hello!</a>
        </div>

        <div class="social block float-right cf">


          <div class="inline-block follow cf">
            <div class="inline-block float-left iconn">
              <span class="twitter"></span>
            </div>
            <div class="inline-block social-text float-left">
              <a class="nav-link" title="Twitter" href="http://www.twitter.com/jawsmartin">Follow me on Twitter</a>
              <span class="details block">to connect and chat</span>
            </div>
          </div>
            
          <div class="inline-block follow cf">
            <div class="inline-block float-left iconn">
              <span class="dribbble"></span>
            </div>
            <div class="inline-block social-text float-left">
              <a class="nav-link" title="Twitter" href="http://www.dribbble.com/jawsmartin">Follow me on Dribbble</a>
              <span class="details block">to see my latest work</span>
            </div>
          </div>
          

        </div>

    </div>
  </header>
 
 