<section class="hero fade-up">
  <div class="container-fluid clearfix">

    {% if page.section == "about" %}
    <h1>My name is Josh Martin and I'm Chicago Designer focused on Branding and UI/UX</h1>

    {% elsif page.section == "words" %}
    <h1>Occasional notes and updates of questionable quality, relevance</h1>

    {% elsif page.section == "nononsense" %}
    <h1 class="font-largest">no.nonsense is a collection of side projects by collaborating designers and developers</h1>  

    {% endif %} 

  </div>
</section>