<div class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content grid-container text-center">
    <span class="hero-title">
      {% if page.title == "Josh Martin | Home" %}
        Designer, Illustrator, and Front-End Developer

      {% elsif page.title == "Josh Martin | Portfolio" %}
        Lines and Shapes Moved Around Strategically

      {% elsif page.title == "Josh Martin | About" %}
        I'm an All-Around Swell Guy from Pittsburgh

      {% elsif page.title == "Josh Martin | Blog" %}
        Case-Studies, Updates, &amp; Interesting Finds
      {% endif %}   
    </span>
    <p class="hero-copy">

      {% if page.title == "Josh Martin | Home" %}
        If you are interested in blog updates, grab the <a href="#" class="link white">RSS</a> or sign-up for the newsletter.
        <form class="relative">
          <label for="email">Email Address</label>
          <input type="text" name="email">
          <a href="#" class="button link">Subscribe</a>
        </form>

      {% elsif page.title == "Josh Martin | Portfolio" %}
        Final snapshots of completed work. If you are interested in lengthy write-ups that allow for more context, check out some of my <a href="http://www.behance.net/jawsmartin" class="link white">case-studies</a>. I also occasionally post show-offy stuff on <a href="http://www.dribbble.com/jawsmartin" class="link white">Dribbble</a>.

      {% elsif page.title == "Josh Martin | About" %}
        Or at least, I think I am. I will do my best to keep the rest of this page as objective as possible.

      {% elsif page.title == "Josh Martin | Blog" %}
        I want my words to come out of me like lava and sometimes, 140 characters doesn't quite cut it. If you are interested in blog updates, grab the <a href="#" class="link white">RSS</a> or sign-up for the newsletter.
        <form class="relative">
          <label for="email">Email Address</label>
          <input type="text" name="email">
          <a href="#" class="button link">Subscribe</a>
        </form>      
      {% endif %}
      
    </p>
  </div>
</div>