
  <div class="page-header">

    <div class="page-header-content">
      <img class="rail-pic" src="images/me.jpg"> 
      <h3 class="name">About</h3>  
      <p class="profile-copy inline-block">I am a designer, illustrator, front-end developer. I currently live in Chicago, Illinois and work as Creative Director for Threadmeup. <a href="https://www.threadmeup.com/" class="link" target="_blank">Learn More</a></p>  
    </div>

    <div class="page-header-content">
      <h3 class="">Experience</h3>   
      <p class="profile-copy inline-block">My experience, thus far, has been in working with large-scale news media and e-commerce platforms.</p>
      <p class="profile-copy inline-block"><span class="focus">I focus on</span><br>• UI/UX Design<br>• Front-End Development<br>• Rapid Prototyping<br>• Branding/Identity<br>• Illustration<a href="mailto:jawsmartin@gmail.com" class="link pink cv">View CV</a></p>        
    </div>

    <div class="page-header-content">
      <h3 class="">Contact</h3>   
      <p class="profile-copy inline-block">My experience, thus far, has been in working with large-scale news media and e-commerce platforms.</p>        
    </div>

  </div> 