<!-- More Info
=============================================
============================================= -->
<section class="fade-down more-info">
  <div class="container-fluid">

    <div class="row clearfix">

      <div class="col-md-12">     

	      {% if page.section == "about" %}
	        <h2>More Info</h2>
	      {% else %}
	        <h2>About</h2>
	      {% endif %}

	      {% if page.section == "about" %}
	      {% else %}
	        <p>My name is Josh Martin and and I'm a Chicago Designer focused on Branding and UI/UX. <a href="/" class="link">Learn more</a>.</p>
	      {% endif %}

        <p>A detailed list of my work experience, endorsements, and proficiencies can be seen on my <a href="http://www.linkedin.com/in/jawsmartin" class="link">Linkedin</a> and <a href="josh_martin_resume.pdf" class="link">Resume</a>.</p>

	      {% if page.section == "about" %}
	      {% else %}
        	<p>I host my unabridged, visual portfolio on <a href="http://www.dribbble.com/jawsmartin" class="link">Dribbble</a> and offer a brief, consolidated .pdf version for <a href="josh_martin_portfolio.pdf" class="link">download</a>.</p>
	      {% endif %}

        <p>For all other inquiries, I'm reachable via <a href="mailto:jawsmartin@gmail.com" class="link">Email</a> and <a href="http://www.twitter.com/jawsmartin" class="link">Twitter</a> </p>

      </div>

    </div>

  </div>
</section>
