<!-- Post Hero
================================================== --> 
<section class="post-header grid-container-2">

  <div class="cf">
    <span class="cs-lead block link" href="{{ post.url }}" title="{{ post.title }}">{{ page.title }}</span>
    <span class="text-small block">{{ page.date | date: '%B %d, %Y' }}</span>
  </div>

  <figure class="post-thumbnail">
    <img src="{{ page.thumbnail }}"/>    
  </figure>

</section>


<!-- Post Main Content
================================================== --> 
<main class="post grid-container-2">
  <p class="sub-header serif">{{ page.deck }}</p>   