
  <!-- Post Header
================================================== --> 
<section class="post-header grid-container-2">

  <figure class="text-center">
    <img class="thumbnail inline-block" src="/images/post/{{ page.date | date: '%Y-%m-%d' | replace:'/','-' }}-{{ page.title | replace:' ','-' | downcase }}/thumbnail.jpg"/>    
  </figure>     

  <div class="hero-text text-center cf">
    <span class="post-date text-small block">{{ page.date | date: '%B %d, %Y' }}</span>    
    <span class="post-title block" href="{{ post.url }}" title="{{ post.title }}">{{ page.title }}</span>
  </div>

  <div class="dash dash-top"></div>

  <div class="text-center">
    <p class="sub-header">{{ page.deck }}</p>   
  </div>

  <div class="dash dash-bottom"></div>

</section>

<!-- Post Main Content
================================================== --> 
<main class="post">
