
  <div class="page-header">

    <div class="header-content cf">
      <a href="/blog" class="link site-name">Josh Martin</a> 
      <!-- Site Navigation -->  
      <nav class="nav-container relative inline-block float-right cf">
        <a class="link header-link {% if page.title == 'Josh Martin | Blog' %} header-link-active {% endif %}" href="/">Blog</a>        
        <a class="link header-link {% if page.title == 'Josh Martin | About' %} header-link-active {% endif %}" href="/about">About</a>
      </nav>
    </div>


    <div class="page-header-content">
      <h3>Hello!</h3> 
      <p class="profile-copy inline-block">This website focuses on long-form writings on past projects, as well as insight into personally &amp; professionally-significant material.</p>
      <p>You can find my unabridged portfolio on <a href="http://www.behance.net/jawsmartin" class="link pink">Behance</a>, latest WIP's on <a href="http://www.dribbble.com/jawsmartin" class="link pink">Dribbble</a>, updates on <a href="http://www.twitter.com/jawsmartin" class="link pink">Twitter</a> / <a href="http://www.instagram.com/jawsmartin" class="link pink">Instagram</a>, and my projects on <a href="http://www.github.com/jawsmartin" class="link pink">Github</a>.</p> 
      <div>
        <a href="http://www.github.com/jawsmartin" class="link email pink">jawsmartin@gmail.com</a> 
      </div>       
    </div>


    <div class="cf">
      <!-- Social Links --> 
      <div class="inline-block social cf">
        <a aria-hidden="true" data-icon="&#xe001;" href="http://www.behance.net/jawsmartin" class="icon-behance link footer-icon"></a>
        <a aria-hidden="true" data-icon="&#xe001;" href="http://www.dribbble.com/jawsmartin" class="icon-dribbble link footer-icon"></a>
        <a aria-hidden="true" data-icon="&#xe001;" href="http://www.twitter.com/jawsmartin" class="icon-twitter link footer-icon"></a>
        <a aria-hidden="true" data-icon="&#xe001;" href="http://www.instagram.com/jawsmartin" class="icon-instagram link footer-icon"></a>
        <a aria-hidden="true" data-icon="&#xe001;" href="http://www.github.com/jawsmartin" class="icon-github link footer-icon"></a>   
      </div>       
      <!-- Copyright -->    
      <span class="copyright text-small">&copy; 2015. Designed and developed by Josh Martin. Hosted by <a href="http://www.dribbble.com/jawsmartin" class="link footer-link">Github Pages</a> and powered by <a href="http://www.dribbble.com/jawsmartin" class="link footer-link">Jeykll</a>. Set in Helvetica Neue. View source on <a href="http://www.dribbble.com/jawsmartin" class="link footer-link">Github</a>.</span>
    </div>

  </div> 