
  <div class="page-header">

    <div class="page-header-content">
      <img class="rail-pic" src="images/me.jpg">
      <h3>I'm Josh Martin</h3>   
      <p class="profile-copy inline-block">I am a Designer, Illustrator, and Front-End Developer from Pittsburgh, Pennsylvania living in Chicago, Illinois.</p>
      <p>I currently work as the Creative Director for <a href="https://www.threadmeup.com/" class="link" target="_blank">Threadmeup</a>.</p>   
    </div>

    <div class="page-header-content">
      <h3>About</h3>   
      <p class="profile-copy inline-block">My expertise is in designing for large-scale web and mobile products. My experience thus far has been working with internet news media and e-commerce platforms.</p>
      <p class="profile-copy inline-block">I focus on UI/UX Design, Front-End Development, Rapid Prototyping, Branding/Identity, and Illustration.</p>        
    </div>

  </div> 