
  <div class="page-header">

    <div class="page-header-content">

      <div class="latest-work">
        <img class="" src="/images/portfolio.png"/> 
        <div class="latest-caption text-center">
          <h3>Project Title</h3>
          <span>Illustration, UI Design, Branding</span>
        </div>
      </div>

      <div class="latest-work">
        <img class="" src="/images/portfolio.png"/> 
        <div class="latest-caption text-center">
          <h3>Project Title</h3>
          <span>Illustration, UI Design, Branding</span>
        </div>
      </div>

      <div class="latest-work">
        <img class="" src="/images/portfolio.png"/> 
        <div class="latest-caption text-center">
          <h3>Project Title</h3>
          <span>Illustration, UI Design, Branding</span>
        </div>
      </div>

    </div>

  </div> 