
  <div class="page-header">

    <div class="page-header-content">

      <div class="r-header cf">
        <h3 class="about-title inline-block float-left">Portfolio</h3>
        <p class="profile-copy inline-block">My experience, thus far, has been in working with large-scale news media and e-commerce platforms.</p> 
      </div>

      <div class="latest-work">
        <img class="" src="/images/portfolio.png"/> 
      </div>

      <div class="latest-work">
        <img class="" src="/images/portfolio-2.png"/> 
      </div>

      <div class="latest-work">
        <img class="" src="/images/portfolio-3.png"/> 
      </div>

      <div class="latest-work">
        <img class="" src="/images/portfolio-4.png"/> 
      </div>

    </div>

  </div> 