  <div class="page-header page-header-content">

    <div class="cf">
      <h3 class="about-title inline-block float-left">Skills</h3>
      <img src="/images/arrow.png" class="inline-block arroww float-right"/>
    </div>  
    <p class="profile-copy inline-block">My experience, thus far, has been in working with large-scale news media and e-commerce platforms.</p>

    <p class="profile-copy inline-block"><span class="focus">I focus on</span><br>• UI/UX Design<br>• Front-End Development<br>• Rapid Prototyping<br>• Branding/Identity<br>• Illustration</p> 

    <p>
      <a href="/about" class="link pink cv">View Resume</a>
    </p>    
           
  </div>
