  <div class="page-header page-header-content">

    <div class="cf">
      <h3 class="about-title inline-block float-left">Skills</h3>
    </div>  
    <p class="profile-copy inline-block">My experience, thus far, has been in working with large-scale news media and e-commerce platforms.</p>

      <div class="skills-list">

      <div class="exp-item">
        <div class="job-block">
          <h4 class="job">• UI/UX Design</h4>
          <p class="job-title">I design interfaces for responsive web, iOS, and Android, as well as build their respective UX&mdash; Wireframes, user-studies, sitemaps, high-fidelity mocks, and prototypes.</p>
        </div>
      </div>  

      <div class="exp-item">
        <div class="job-block">
          <h4 class="job">• Front-End Development</h4>
          <p class="job-title">I prepare the entire customer-facing visuals of responsive websites (HTML, CSS) for back-end developers. I also build static websites from scratch or using the Bootstrap framework.</p>
        </div>
      </div>  

      <div class="exp-item">
        <div class="job-block">
          <h4 class="job">• Branding/Identity</h4>
          <p class="job-title">I craft strong visual identities, which include logos, branding, and style guidelines. I also occasionally develop collateral identity items such as business cards, letterheads, posters, and packaging.</p>
        </div>
      </div>  

      <div class="exp-item">
        <div class="job-block">
          <h4 class="job">• Illustration</h4>
          <p class="job-title">I create vectorized spot illustrations, iconography, and larger-scale pieces.</p>
        </div>
      </div>              


      </div>           

    <p>
      <a href="/about" class="link pink cv">View Resume</a>
    </p>    
           
  </div>
