{% include header.html %}   


<div class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content text-center">
    <span class="hero-title">I'm an All-Around Swell Guy from Pittsburgh</span>
    <p class="hero-copy">Or at least, I think I am. I will do my best to keep the rest of this page as objective as possible.</p>
  </div>
</div>



<div class="main grid-container relative cf">

  <div class="grid-container-3 inline-block float-left">
    {{ content }}
  </div>

  <div class="right-rail inline-block float-left">
    {% include blog-post-card.html %}        
    {% include portfolio-card.html %}
  </div>

</div>

{% include footer.html %}

