{% include head.html %} 
{% include header.html %}

<div class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content text-center">
    <span class="hero-title">Case-Studies, Updates, &amp; Interesting Finds</span>
    <p class="hero-copy">I want my words to come out of me like lava and sometimes, 140 characters doesn't quite cut it. If you are interested in blog updates, grab the <a href="#" class="link white">RSS</a> or sign-up for the newsletter.</p>
    <form>
      <input type="text" name="email">
      <a href="#" class="button link">Subscribe</a>
    </form>    
  </div>
</div>


<div class="page-container main grid-container relative cf">

  <div class="grid-container-3 inline-block float-left">
    {{ content }}
  </div>

  <div class="right-rail inline-block float-left">
    {% include blog-filter-card.html %}
  </div>

</div>


{% include footer.html %}

