{% include header.html %}	



  <div class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content text-center">
      <span class="hero-title">Designer, Illustrator, and Front-End Developer </span>
    </div>
  </div>

<div class="main grid-container relative cf">
  <div>
    <div class="left-rail inline-block float-left">
      {% include about-card.html %}
      {% include skills-card.html %}    
      {% include experience-card.html %}      
    </div>

  	<div class="grid-container-2 inline-block float-left">
  		{{ content }}
  	</div>

  	<div class="right-rail inline-block float-left">
      {% include contact-card.html %}      
  		{% include portfolio-card.html %}
  	</div>
  </div>

</div>

{% include footer.html %}

