{% include head.html %} 
{% include header.html %}
{% include hero.html %}   

<div class="page-container main grid-container relative cf">

  <div class="grid-container-3 inline-block float-left">
    {{ content }}
  </div>

  <div class="right-rail inline-block float-left">
    {% if page.title == "Josh Martin | Blog" %}
    {% include card-blog-filter.html %}  

    {% elsif page.title == "Josh Martin | About" %}
    {% include card-blog-post.html %}
    {% include card-portfolio.html %}    

    {% elsif page.title == "Josh Martin | Portfolio" %}
    {% include card-blog-filter.html %}

    {% endif %}
  </div>

</div>

{% include footer.html %}

