{% include head.html %} 
{% include header.html %}	
{% include hero.html %} 

<div class="homepage-container grid-container relative cf">

  <div class="left-rail inline-block float-left">
    {% include about-card.html %}
    {% include skills-card.html %}    
    {% include experience-card.html %}      
  </div>

	<div class="grid-container-2 inline-block float-left">
		{{ content }}
	</div>

	<div class="right-rail inline-block float-left">
    {% include contact-card.html %}      
		{% include portfolio-card.html %}
	</div>
  
</div>

{% include footer.html %}

