{% include header.html %}   

<div class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content text-center">
    <span class="hero-title">Lines and Shapes Moved Around Strategically</span>
    <p class="hero-copy">Final snapshots of completed work. If you are interested in lengthy write-ups that allow for more context, check out some of my <a href="http://www.behance.net/jawsmartin" class="link white">case-studies</a>.</p>
  </div>
</div>



<div class="main grid-container relative cf">

  <div class="grid-container-3 inline-block float-left">
    {{ content }}
  </div>

  <div class="right-rail inline-block float-left">
    {% include blog-filter-card.html %}
  </div>

</div>

{% include footer.html %}

