{% include head.html %}   
   
<div class="default wrapper-3">

  <main class="content">
    <div class="inner-content">
      <div class="cat-container text-center">
        <span class="cat">Filed under <span class="blue">{{ page.category }}</span></span>
      </div>

      <!-- Post Header
      ================================================== --> 
      <section class="post-header">   
        <div class="hero-text text-center cf">
          <span class="post-date text-small block">{{ page.date | date: '%B %Y' }}</span>    
          <span class="post-title block" href="{{ post.url }}" title="{{ post.title }}">{{ page.title }}</span>
        </div>
        <div class="dash dash-top"></div>
        <div class="text-center">
          <p class="sub-header">{{ page.deck }}</p>   
        </div>
        <div class="dash dash-bottom"></div>
      </section>

      <!-- Post Main Content
      ================================================== --> 
      <section class="post">
        {{ content }}   
      </section>

    </div>
  </main>

  <aside class="about">
    {% include about.html %}
  </aside>

</div>


