{% include head.html %}   
{% include header.html %}    

  <main class="post fade-up">
    <div class="container-fluid container-fluid-tight">

      <header>
        <a href="/words">&larr;&nbsp;&nbsp;All Posts</a>
        <h1 class="post-title">{{ page.title }}</h1>
        <span class="post-timestamp">{{ page.date | date_to_string }}</span>
      </header>

      <!-- Post Main Content
      ================================================== --> 
      <section class="post-content">
        {{ content }}   
      </section>

      <footer>
        <a href="/">About</a>
      </footer>


    </div>
  </main>


  {% include footer.html %}  